body{
	margin: 0;
	padding:0;
	font-family: sans-serif;
	background: url('bg2.jpg');
	/* background-size: cover; */
	/* background-repeat: no-repeat; */



}
.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px; 
	padding: 40px;
	background:rgba(192, 101, 169, 0.459);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(235, 15, 205, 0.979);
	border-radius: 10px;


}
.box h2{
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;


}
.box .inputBox
{
	position:relative;

}
.box .inputBox input{
	width: 100%;
	padding: 10px 0px;
	font-size: 16px;
	color:#fff;
	letter-spacing: 1px;
	margin-bottom:30px;
	border: none;
	border-bottom:1px solid #fff;
	outline: none;
	background: transparent;


}.box .inputBox label{
	position: absolute;
	top: 0px;
	left: 0px;
	letter-spacing: 1px;
	padding: 10px 0px;
	font-size:16px;
	color:#fff;
	pointer-events: none;
	transition: 0.5s;

}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top:-18px;
	left:0;
	color:aquamarine;
	font-size: 12px;
}
.bl{
	position: absolute;
	/* top: 50%; */
	left: 22.5%;
	transform: translate(-50%,-50%);
	width: 100px; 
	padding: 0;
	background:rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	border-radius: 5px;
	color:white;
}
.bl:hover{
	background-color:white;
	color:hotpink;
	padding:5px;
}
.box input [type="Submit"]
{
	background: transparent;
	border:none;
	outline: none;
	color:#fff;
	background:#03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius:5px ;


}

